---
import Layout from '../components/Layout.astro'
import Code from '../components/Code.astro'
import exampleGlobalOptions from '../components/options/example-global-options?raw'
import defaultOptions from '../components/options/default-options?raw'
import availableOptions from '../components/options/available-options?raw'
---

<Layout title="Options">
  <h1>Global options</h1>
  <p>You can configure options globally by assigning an object to the variable <code>"window.UseBootstrapDialogOptions"</code>. For example:</p>
  <Code lang="typescript" code={exampleGlobalOptions} />
  <p>Each method prioritizes object options followed by global options and lastly default options.</p>
  <h1 class="mt-5">Default options</h1>
  <p>Here are the default options for each method:</p>
  <Code lang="typescript" code={defaultOptions} />
  <h1 class="mt-5">Available options</h1>
  <p>Here are the available options for each method:</p>
  <Code lang="typescript" code={availableOptions} />
</Layout>
